################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LearningDapper
/WA_WebAPI_and_Angular
/WebApplication1
